<!-- <div class="row">
	<div class="small-12 columns">
		<span class="js-amount">{{userExpenseAmount}}</span><span class="label-for"> for </span><span class="js-expense-name">{{name}}</span>
	</div>
	<div class="small-12 columns">
		<span class="expense-date">{{day}}</span>
	</div>
	<div class="small-12 columns">
		<span class="expense-date">{{type}}</span>
	</div>
	<div class="small-12 columns">
		<span class=""><input type=button class="js-edit-expense" value="Edit Expense"  data-expense-id={{expenseEntityId}}></span>
	</div>
</div> -->
<div class="row">
	<div class="small-12 large-6 columns payers-container">
		<div class="row collapse">
			<h4>Payers</h4>
			{{#each listPayersInfo}}
			<div class="small-12 columns js-participants">
				 <span>{{userInfo.fullName}}</span> <span
					class="right">{{amount}}</span>
			</div>
			 {{/each}}
		</div>
	</div>
	<div class="small-12 large-6 columns participants-container">
		<div class="row collapse">
			<h4>Participants share</h4>
			{{#each listIncludeMemberInfo}}
			<div class="small-12 columns js-participants">

				<span>{{userInfo.fullName}}</span> <span class="right">{{amount}}</span>
			</div>
			{{/each}}
		</div>
	</div>
</div>

