<div class="row">
	<div class="small-12 large-12 columns expense-details">
		<div class="row">
			<div class="small-12 large-12 columns" style="padding-bottom: 10px;">
				<span class="expense-category">Category: {{type}}</span>
			</div>
			<div class="small-12 large-12 columns" style="padding-bottom: 10px;">
				{{#if whoCreated}}
					<span class="expense-date expense-create-date">Created by {{whoCreated.fullName}} on {{day}}</span>
				{{else}}
					<span class="expense-date expense-edit-date">Edited by {{whoEdited.fullName}} on {{day}}</span>
				{{/if}}
			</div>
		</div>
	</div>
	<div class="small-12 large-6 columns payers-container">
		<div class="row collapse">
			{{#each listPayersInfo}}
			<div class="small-12 columns js-participants">
				 <span>{{userInfo.fullName}} paid {{amount}}</span>
			</div>
			{{/each}}
		</div>
	</div>
	<div class="small-12 large-6 columns participants-container">
		<div class="row collapse">
			{{#each iou}}
			<div class="small-12 columns js-participants">
				<span style="float:right;">{{fromUser.fullName}} owes {{amount}}</span>
			</div>
			{{/each}}
		</div>
	</div>
	
	<div class="transition small-12 columns">
	
		    
	</div>
	<div class="small-12 columns" style="padding-top: 5px;">	
		<span type=button class="js-edit-expense button radius tiny" value="Edit Expense"  data-expense-id={{expenseEntityId}} >Edit expense</span>
	</div>
</div>

