<div class="row js-expense-history-container ">
	<div class="full">
		<div class="small-12 js-filters-container columns"></div>
		<div class="small-12 columns header-2"><div class="js-showing-expense">All expenses</div></div>
		<div class="small-12 columns js-expenses-container cards full"></div>
		<div class="small-12 columns js-no-expense-error hide first-timer-message">
				<div>You have not added
				any expenses yet.</div>
				 <div></div><a href="#newexpense">add</a> your first expense!</div>	
		
		</div>
	</div>
<div class="row">
<div class="small-12 js-edit-expense-form-container columns"></div>
</div>
