<div class="row">
	<div class="js-expense-history-container">
	<div class="small-12 js-filters-container columns">
		<h5 class=js-filter-headind>Filters</h5>
		<div class="js-filters">
			<div>Date range:</div>
			<div class='js-date-range-filter'><input type=date class='js-from-date'><input type=date class="to-date"></div>
			<div>Group</div>
			<div class='js-groups-filter'>
				<select class="js-group-filter-select"></select>
			</div>
			<div>User</div>
			<div class='js-user-filter'>
				<select class="js-user-filter-select"></select>
			</div>
			<div>Expense type</div>
			<div class='js-expense-type-filter'>
				<select class="js-type-filter-select" name="expensetype">
					<option value="select" selected="">Select</option>
					<option value="other" >Other</option>
					<option value="food">Food</option>
					<option value="loan">Loan</option>
					<option value="movies">Movies</option>
					<option value="outing">Outing</option>
				</select>
			</div>
		</div>
	</div>
	<div class="small-12 columns js-expenses-container cards">
	</div>
	</div>
	<div class="small-12 js-edit-expense-form-container columns">
	</div>
</div>