<div class="row js-expense-history-container ">
	<div class="full">
		<div class="small-12 js-filters-container columns"></div>
		<div class="small-12 columns header-2">
			<div class="js-showing-expense text-center">All expenses</div>
		</div>
		<div class="small-12 columns js-expenses-container cards full"></div>
		<div class="small-12 columns js-no-expense-error hide text-center" style="margin-top:50px;margin-bottom:50px;">
			<div>It's quite lonely here.</div>
			<div style="margin-top:10px;">
				<a href="#newexpense">Add expense</a> and it'll show up here!
			</div>
		</div>

	</div>
</div>
<div class="row">
	<div class="small-12 js-edit-expense-form-container columns"></div>
</div>
