<div class="row dashboard-container">
	<!-- <div class="small-12 columns js-user-selector-container">
	</div> -->
	<div class="small-12 large-6 columns">
		<div class="row  "><div class="small-12 columns header-2 owes-from-me"><div>DEBIT</div></div></div>
		<div class="row">
			<div class="small-12 columns js-payers">
			</div>
		</div>
	</div>
	<div class="small-12 large-6 columns ">
		<div class="row  "><div class="small-12 columns header-2 owes-to-me"><div>CREDIT</div></div></div>
		<div class="row">
			<div class="small-12 columns js-owers">
			</div>
		</div>
	</div>
</div>