<div class="row dashboard-container">
	<div class="small-12 columns js-user-selector-container" style="display: none;">
	</div>
	<div class="small-12 large-6 columns">
		<div class="row  "><div class="small-12 columns header-2 owes-from-me"><div>DEBIT<span class="total-debit total debit"></span></div></div></div>
		<div class="row" style="min-height: 100px;">
			<div class="small-12 columns js-payers">
			</div>
		</div>
	</div>
	<div class="small-12 large-6 columns ">
		<div class="row"  ><div class="small-12 columns header-2 owes-to-me"><div>CREDIT<span class="total-credit total credit"></span></div></div></div>
		<div class="row" style="min-height: 100px;">
			<div class="small-12 columns js-owers">
			</div>
		</div>
	</div>
</div>