*.class
*.jar
/war/WEB-INF/classes/
/war/WEB-INF/appengine-generated/
*.discovery
/endpoint-libs
/bin
/gen
/assets
/node_modules
.settings/com.google.appengine.eclipse.core.prefs
.settings/org.eclipse.jdt.core.prefs
war/WEB-INF/classes
xpenseshare.apk
/npm-debug.log
