.circle {
	border-radius: 50%;
	display: inline-block;
	margin-right: 20px;
}

.expense,.detail-expense{
	line-height: 1.2em;
	cursor: pointer;
	margin: 7px!important;
	border-radius : 10px;
}

.expense {
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}

.expense.borrowed {
	border: 3px solid rgb(255, 0, 0);	
}

.expense.lent {
	border: 3px solid rgb(90, 184, 37);
}

.expense:hover{
/* 	background-color: gray; */
}
div.expense:nth-child(2n){
	/* background-color: #CCC; */
}

.sentense-fillers{
	padding-left:5px;
	padding-right:5px;
	font-size: 0.9em;
}
.on.sentense-fillers{
	padding-left:0;
	font-style:italic;
}
.amount,.expense-name{
	font-size: 24px;
}

.group.sentense-fillers{
	font-size : 1em;
}

.amount-row{
	/* height: 35px; */
	overflow: hidden;
}

.js-expenses-container{
	position: relative;
	/* width: 230px;
	height: 480px; */
	margin: 0;
	padding: 0;
	/* overflow-x: hidden; */
	list-style: none;
	-webkit-perspective: 400px;
	/* overflow-y: scroll; 	 */
}

.detail-expense-container {
	padding: 0px !important;
	margin-top: -10px;
	border-top: 0px;
	border-radius: 10px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.detail-expense-container.lent {
	border: 3px solid rgb(90, 184, 37);
}

.detail-expense-container.borrowed {
	border: 3px solid rgb(255, 0, 0);
}

.js-expense-detail-container{
	min-height: 80px;
}

.payers-container{
	/* border-bottom: 1px dotted #F4985A; */
}

.participants-container {
	border-left: 1px dotted #F4985A;
}

.expense-share {
	position: absolute;
	top: 14px;
}

.js-expense-li .expense-share>.transaction-type.borrowed{
	color: rgb(255, 0, 0);
}

.js-expense-li .expense-share>.transaction-type.lent{
	color: rgb(90, 184, 37);
}

.transaction-amount {
	width: 60px;
	height: 60px;
	line-height: 55px;
	text-align: center;
	display: block;
	border: 3px solid #fff;
	position: absolute;
	left: 100px;
	top: -20px;
}

.js-expense-li .expense-share>.transaction-amount.borrowed{
	background: rgb(255, 0, 0);
	color: white;
}

.js-expense-li .expense-share>.transaction-amount.lent{
	background: rgb(90, 184, 37);
	color: white;
}

.header-4 {
	font-size: 20px;
	font-weight: bold;
	margin-top : 5px;
	margin-bottom : 5px;
}

.payers-container, .participants-container{
	margin-bottom : 10px;
}

.delete-expense{
	float:right;
	position: absolute;
	right: -20px;
	top: 12px;
}
}