.ui-menu-item{
	display : block;
	background : white;	
	opacity : 0.8;
	height: auto;
	border-bottom : 1px solid black;
	border-left : 1px solid black;
	border-right : 1px solid black;
	padding-top : 5px;
	padding-bottom : 5px;
	
}
.ui-menu-item>a{
	color : black;
}

.add-group-form fieldset{
	padding: 0;
	margin: 0 0 15px 0!important;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.min2members{
	height : 0px;
	border : 0px;
	padding : 0px;
}  