<div class="row full">
	<div class="small-12 large-12 columns app-container full">

		<div class="row full " style="position: relative;height:100%;">
			<div class="small-8 medium-3 large-3 columns js-left-side-menu full" style="">
				<div class="section-container " data-section=""
					data-options="deep_linking: false" style="">

					<div class="js-show-hide-section small-12 columns">
						
						<div class="js-fixed-section menu-container">
							<section class="section js-menu" data-menu="js-dashboard">
								<span>&nbsp;</span><div class="title" style="left: 0px;">
									<a>Dashboard</a>
								</div>
							</section>
							<section class="section js-menu" data-menu="js-new-expense">
								<span>&nbsp;</span><div class="title" style="left: 0px;">
									<a>Add Xpense</a>
								</div>
							</section>
							<section class="section js-menu" data-menu="js-create-group">
								<span>&nbsp;</span><div class="title" style="left: 248px;">
									<a>Create group</a>
								</div>
							</section>


							<section class="section js-menu" data-menu="js-expense-history">
								<span>&nbsp;</span><div class="title" style="left: 248px;">
									<a>Xpense History</a>
								</div>
							</section>
							<section class="section js-menu" data-menu="js-edit-group">
								<span>&nbsp;</span><div class="title" style="left: 0px;">
									<a>Groups</a>
								</div>
							</section>
							<section class="section js-menu" data-menu="js-profile">
								<span>&nbsp;</span><div class="title" style="left: 0px;">
									<a>Settings</a>
								</div>
							</section>
						</div>
					</div>
				</div>

			</div>
			
			<div class="small-12 medium-9 large-9 columns js-right-panel full"
				style="">
				<section class="section js-show-menu show-for-small row">
							<div class="small-12 columns top-bar" style="left: 0px;">
								<div ><span class="open-menu-icon"></span><span class="js-currently-showing">Dashboard</span></div>
							</div>
				</section>
				<div class="row full scrollable-right-section" style="height:100%;" >
					<div class="small-12  columns js-dashboard js-view-item"></div>
					<div class="small-12  columns js-new-expense js-view-item"></div>
					<div class="small-12  columns js-create-group js-view-item"></div>
					<div class="small-12  columns js-expense-history js-view-item"></div>
					<div class="small-12  columns js-edit-group js-view-item"></div>
					<div class="small-12  columns js-profile js-view-item"></div>
				</div>
			</div>
			<div class="hide-for-medium-down large-2 columns future-use hide" style="height: 100%;">&nbsp;</div>
		</div>
	</div>
</div>