<div class="row js-expense-div">
	<label><input type="checkbox" checked class="small-2 columns js-select-expense"
		style="float: left;" data-userd={{userId}} >
	<div class="js-member-name small-5 columns" style="float: left;">{{fullName}}</div>
		</label>
	<div class="small-2 columns js-lock-button" style="float: left;">&nbsp;</div>
		<div class="small-3 columns"><input type="tel" name="expenseInput{{inputNumber}}" step="0.01"
		class="small-3 columns js-contribution-input {{userId}}" style="float: left;" data-userd={{userId}}></div>
</div>



