<div class=row>
	<div class="small-12 large-12 columns js-success-message">Expense saved successfully. View <a href="#dashboard">Dashboard</a></div>
	<div class="small-12 large-12 columns js-select-group"></div>
	<div class="small-12 large-12 columns js-new-expense-form" style=display:none;>
		<form class="js-add-expense-form">
		<div class="row">
			<div class="small-12 columns select-group header-2">
				<div>New expense</div>
			</div>
		</div>
		<div class="row " style="margin-top: 16px;">
			<div class="small-12 large-4 columns  hide-for-small">Name</div>
			<div class="small-12 large-6 columns" style="float: left;">
				<input type=text class='js-expense-name' name=expensename placeholder="Expense Name">
			</div>
		</div>
		<div class="row">
			<div class="small-12 large-4 columns  hide-for-small">Date</div>
			<div class="small-12 large-6 columns" style="float: left;">
				<input type=date class='js-expense-date' name=expensedate>
			</div>
		</div>
		
		<div class="row">
			<div class="small-12 large-4 columns  hide-for-small">Type</div>
			<div class="small-12 large-6 columns" style="float: left;">
					<select class="js-expense-type valid" name="expensetype" style="margin-bottom: 16px;">
						<optgroup label="Entertainment">
							<option value="Games">Games</option>
							<option value="Movies">Movies</option>
							<option value="Music">Music</option>
							<option value="EntertainmentOther">Other</option>
							<option value="Sports">Sports</option>
						</optgroup>
						<optgroup label="Food and drink">
							<option value="Dining out">Dining out</option>
							<option value="Groceries">Groceries</option>
							<option value="Food and drinkOther">Other</option>
						</optgroup>
						<optgroup label="Home">
							<option value="Furniture">Furniture</option>
							<option value="Household supplies">Household supplies</option>
							<option value="Maintenance">Maintenance</option>
							<option value="Mortgage">Mortgage</option>
							<option value="HomeOther">Other</option>
							<option value="Pets">Pets</option>
							<option value="Rent">Rent</option>
							<option value="Services">Services</option>
						</optgroup>
						<optgroup label="Transportation">
							<option value="Bus/train">Bus/train</option>
							<option value="Car">Car</option>
							<option value="Gas/fuel">Gas/fuel</option>
							<option value="TransportationOther">Other</option>
							<option value="Parking">Parking</option>
							<option value="Plane">Plane</option>
							<option value="Taxi">Taxi</option>
						</optgroup>
						<optgroup label="Uncategorized">
							<option value="General" selected>General</option>
						</optgroup>
						<optgroup label="Utilities">
							<option value="Electricity">Electricity</option>
							<option value="Heat/gas">Heat/gas</option>
							<option value="Insurance">Insurance</option>
							<option value="UtilitiesOther">Other</option>
							<option value="Trash">Trash</option>
							<option value="TV/Phone/Internet">TV/Phone/Internet</option>
							<option value="Water">Water</option>
						</optgroup>
					</select>
				</div>
		</div>
		
    
      <div class="row">
			<div class="small-12 large-4 columns">Who Paid</div>
		</div>
		<div class="row user-paid-row">
			<div class="small-12 large-4 columns" style="float: left;">
				I paid
			</div>
			<div class="small-12 large-6 columns" style="float: left;">
				<input class="js-pay-input js-current-user-pay-input" type=tel style="height:45px;" placeholder="Amount paid by you" name="expenseInput-user">
			</div>
		</div>
		<div class="row">
		
			<div class="large-10  large-push-4 small-12 columns js-more-payers" style="text-decoration: underline;cursor: pointer;"><span class="down-icon"></span>Other payers</div>
			<!-- <div class=row>
				<div class="small-12 columns">
					<h4>Amount Paid</h4>
				</div>
			</div>
			<div class="row">
				<div class="large-6 small-12 columns" >
					<input class="js-pay-input js-current-user-pay-input" type=tel style="height:45px;" placeholder="Amount paid by you" name="expenseInput-user">
				</div>
				<div class="large-6  small-12 columns js-more-payers" style="text-decoration: underline;cursor: pointer;">Other payers</div>
			</div> -->
			<div class="small-12 columns">
				<div class="row js-all-payers" >
					<div class="js-payers carousel small-12 columns" >
					</div>
				</div>
			</div>
		</div>
		
		<div class=row>
			<div class="small-12 columns">
				<span style="height: 44px;font-size: 22px;padding:0px;width:100px;" >Share</span>
				<select class="js-division-type" style="height: 44px;font-size: 22px;background: transparent;border: 0;width: 144px;margin: 0;padding: 0;">
					<option value="all">Equally</option>
					<option value="selected">Unequally</option>
				</select>
				<div class="small-12 large-6 columns"></div>
			</div>
		</div>
		<div class="row js-all-included-members">
			<div class="js-included-members carousel small-12 columns" >
			</div>
		</div>
		 
		<div class="row">
			<div class="small-6 large-4 small-centered large-centered columns"
				style="margin-top: 2%;">
				<span class="js-save-expense button tiny radius" style="cursor: pointer;">Save</span>
			</div>
		</div>
		</form>
	</div>
</div>