<div class=row>
	<div class="small-12 large-12 columns js-success-message">Expense saved successfully.</div>
	<div class="small-12 large-12 columns js-select-group"></div>
	<div class="small-12 large-12 columns js-new-expense-form" style=display:none;>
		<form class="js-add-expense-form">
		<div class="row">
			<div class="small-12 columns select-group">
				<h4>New expense</h4>
			</div>
		</div>
		<div class="row ">
			<div class="small-12 large-4 columns  hide-for-small">Name :</div>
			<div class="small-12 large-6 columns" style="float: left;">
				<input type=text class='js-expense-name' name=expensename placeholder="Expense Name">
			</div>
		</div>
		<div class="row">
			<div class="small-12 large-4 columns  hide-for-small">Date :</div>
			<div class="small-12 large-6 columns" style="float: left;">
				<input type=date class='js-expense-date' name=expensedate>
			</div>
		</div>
		
		<div class="row">
			<div class="small-12 large-4 columns  hide-for-small">Type :</div>
			<div class="small-12 large-6 columns" style="float: left;">
				<select  class='js-expense-type' name=expensetype>
					<option value="other" selected>Other</option>
					<option value="food">Food</option>
					<option value="loan">Loan</option>
					<option value="movies">Movies</option>
					<option value="outing">Outing</option>
				</select>
			</div>
		</div>
		
		<div class=row>
			<div class="small-12 columns">
				<h4>Amount Paid</h4>
			</div>
		</div>
		<div class="row">
			<div class="large-6 small-12 columns" >
				<input class="js-pay-input js-current-user-pay-input" type=tel style="height:45px;" placeholder="Amount paid by you" name="expenseInput-user">
			</div>
			<div class="large-6  small-12 columns js-more-payers" style="text-decoration: underline;cursor: pointer;">Other payers</div>
		</div>
		<div class="row js-all-payers" >
			<div class="js-payers carousel small-12 columns" >
			</div>
		</div>
		
		<div class=row>
			<div class="small-12 columns text-center">
				<span style="height: 44px;font-size: 22px;padding:0px;width:100px;" >Divide</span>
				<select class="js-division-type" style="height: 44px;font-size: 22px;background: transparent;border: 0;width: 144px;margin: 0;padding: 0;">
					<option value="all">Equally</option>
					<option value="selected">Unequally</option>
				</select>
				<div class="small-12 large-6 columns"></div>
			</div>
		</div>
		<div class="row js-all-included-members">
			<div class="js-included-members carousel small-12 columns" >
			</div>
		</div>
		 
		<div class="row">
			<div class="small-6 large-4 small-centered large-centered columns"
				style="margin-top: 2%;">
				<span class="js-save-expense button" style="cursor: pointer;">Save</span>
			</div>
		</div>
		</form>
	</div>
</div>