<div class=row>
	<div class="small-12 large-12 columns js-success-message">
		Expense saved successfully. View <a href="#dashboard">Dashboard</a>
	</div>
	<div class="small-12 columns js-friend-selector-container">
		<div class="row" style="margin-top:20px;">
			<div class="small-9 columns ">
				<div style="position: relative;">
				<input type="text" class="js-friends-autocomplete"
					placeholder="Select friends"><div class="click-to-login" style="position: absolute; top: 8px; right: 8px;"><span class="facebook-button"></span><span class="google-button"></span></div>
				</div>
			</div>
			<div class="small-3 columns" style="padding:0">
				<input type=button value=Done class="next-button"
					style="min-width: 60px;">
			</div>
			<div class="small-12 large-12 columns">
				<div class="row js-friend-selector"></div>
			</div>
		</div>
		<div class="row" style="margin-bottom: 20px;color:#F4985A;">
			<div class="small-5 columns hr">
				<span>&nbsp;</span>
			</div>
			<div class="small-2 columns text-center" style="color:black;">OR</div>
			<div class="small-5 columns hr">
				<span>&nbsp;</span>
			</div>
			
		</div>
		<div class="row" style="margin-bottom: 20px;margin-top: 20px;">
			<div class="small-12 large-6 columns large-centered">
				<span></span><a style="background-color: #F4985A;padding-right:0" class="zocial add-group-button" >Add
					expense in group</a>
			</div>
		</div>
	</div>

	<div class="small-12 columns js-select-group-container">
		<div class="row " >
			<div class="small-12 large-12 columns js-select-group"></div>
		</div>
		<div class="row" style="margin-top: 20px;;margin-bottom: 20px;">
			<div class="small-6 columns"><a style="background-color: #F4985A;padding-right:0" class="zocial back-to-without-group" >Go back</a>
			</div>
			<div class="small-6 columns"><a href="#creategroup" style="background-color: #F4985A;padding-right:0" class="zocial create-group-button" >Create a group</a>
			</div>
		</div>
	</div>
	
	<section class="small-12 columns new-friend semantic-content" id="modal-text" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true" style="z-index:32768;">
		<div class="modal-inner row" >
			<div class="small-12 columns">Enter details of the friend and click Add.</div>
			<div class="small-12 columns">Friend Name : <input class="full-name" placeholder="Friend name"></div>
			<div class="small-12 columns">Email : <input class="email" placeholder="email (Optional)"> </div>
			<div class="small-12 columns">
				<div class="row">
					<div class="small-12 medium-6 columns">
						<span  data-dismiss="modal" class="modal-close button add-friend">Add</span>
					</div>
					<div class="small-12 medium-6 columns">
						<span  data-dismiss="modal" class="modal-close button alert">Cancel</span>
					</div>
				</div>
				
				
			</div>
		</div>
	</section>

	<div class="small-12 large-12 columns js-new-expense-form"
		style="display: none;">
		<form class="js-add-expense-form">
			<div class="row">
				<div class="small-12 columns select-group header-2">
					<div>New expense</div>
				</div>
			</div>
			<div class="row " style="margin-top: 16px;">
				<div class="small-12 large-2 columns  hide-for-small">Description</div>
				<div class="small-12 large-6 columns" style="float: left;">
					<input type=text class='js-expense-name' name=expensename
						placeholder="Expense Description">
				</div>
			</div>
			<div class="row">
				<div class="small-12 large-2 columns  hide-for-small">Date</div>
				<div class="small-12 large-6 columns" style="float: left;">
					<input type=date class='js-expense-date' name=expensedate>
				</div>
			</div>

			<div class="row">
				<div class="small-12 large-2 columns  hide-for-small">Type</div>
				<div class="small-12 large-6 columns" style="float: left;">
					<select class="js-expense-type valid" name="expensetype"
						style="margin-bottom: 16px;">
						<optgroup label="Entertainment">
							<option value="Games">Games</option>
							<option value="Movies">Movies</option>
							<option value="Music">Music</option>
							<option value="EntertainmentOther">Other</option>
							<option value="Sports">Sports</option>
						</optgroup>
						<optgroup label="Food and drink">
							<option value="Dining out">Dining out</option>
							<option value="Groceries">Groceries</option>
							<option value="Food and drinkOther">Other</option>
						</optgroup>
						<optgroup label="Home">
							<option value="Furniture">Furniture</option>
							<option value="Household supplies">Household supplies</option>
							<option value="Maintenance">Maintenance</option>
							<option value="Mortgage">Mortgage</option>
							<option value="HomeOther">Other</option>
							<option value="Pets">Pets</option>
							<option value="Rent">Rent</option>
							<option value="Services">Services</option>
						</optgroup>
						<optgroup label="Transportation">
							<option value="Bus/train">Bus/train</option>
							<option value="Car">Car</option>
							<option value="Gas/fuel">Gas/fuel</option>
							<option value="TransportationOther">Other</option>
							<option value="Parking">Parking</option>
							<option value="Plane">Plane</option>
							<option value="Taxi">Taxi</option>
						</optgroup>
						<optgroup label="Uncategorized">
							<option value="General" selected>General</option>
						</optgroup>
						<optgroup label="Utilities">
							<option value="Electricity">Electricity</option>
							<option value="Heat/gas">Heat/gas</option>
							<option value="Insurance">Insurance</option>
							<option value="UtilitiesOther">Other</option>
							<option value="Trash">Trash</option>
							<option value="TV/Phone/Internet">TV/Phone/Internet</option>
							<option value="Water">Water</option>
						</optgroup>
					</select>
				</div>
			</div>

			<hr class="red-line">
			<div class="row divider-row">
				<div class="small-12 columns">Who Paid</div>
			</div>
			<div class="row user-paid-row">
				<div class="small-2 large-2 columns" style="float: left;">I
					paid</div>
				<div class="small-6 large-6 columns" style="float: left;">
					<input class="js-pay-input js-current-user-pay-input" type=tel
						style="height: 45px;" placeholder="Amount paid by you"
						name="expenseInput-user">
				</div>
			</div>
			<div class="row other-payers-row">

				<div
					class="large-10  large-push-2 small-push-2 small-12 columns js-more-payers"
					style="text-decoration: underline; cursor: pointer;">
					<span class="down-icon"></span>Other payers
				</div>
				<!-- <div class=row>
				<div class="small-12 columns">
					<h4>Amount Paid</h4>
				</div>
			</div>
			<div class="row">
				<div class="large-6 small-12 columns" >
					<input class="js-pay-input js-current-user-pay-input" type=tel style="height:45px;" placeholder="Amount paid by you" name="expenseInput-user">
				</div>
				<div class="large-6  small-12 columns js-more-payers" style="text-decoration: underline;cursor: pointer;">Other payers</div>
			</div> -->
				<div class="small-12 columns">
					<div class="row js-all-payers">
						<div class="js-payers carousel small-12 columns"></div>
					</div>
				</div>
			</div>
			<hr class="red-line">
			<div class="row divider-row">
				<div class="small-12 columns">How to divide</div>
			</div>
			<div class="row"
				style="padding-bottom: 15px; background: whitesmoke;">

				<div class="small-2 large-2 columns" style="float: left;">
					Divide</div>
				<div class="small-6 large-6 columns" style="float: left;">
					<select class="js-division-type"
						style="height: 44px; width: 144px; margin: 0; padding: 0;width:100%;">
						<option value="all">Equally</option>
						<option value="selected">Unequally</option>
					</select>
				</div>

			</div>
			<!-- <div class=row style="padding-bottom: 15px;">
			<div class="small-12 columns">
				<span style="height: 44px;font-size: 16px;padding:0px;width:100px;" >Divide</span>
				<select class="js-division-type" style="height: 44px;width: 144px;margin: 0;padding: 0;">
					<option value="all">Equally</option>
					<option value="selected">Unequally</option>
				</select>
				<div class="small-12 large-6 columns"></div>
			</div>
		</div> -->
			<div class="row js-all-included-members">
				<div class="js-included-members carousel small-12 columns"></div>
			</div>
			<hr class="red-line">
			<div class="row" style="padding-bottom:20px;">
				<div class="small-12 columns" style="margin-top: 2%;">
					<span class="js-save-expense button tiny radius"
						style="cursor: pointer;">Save</span>
				</div>
			</div>
		</form>
	</div>
</div>