.js-group-entry{
	/* height: 2em; */
	/*line-height : 2em;*/
	cursor: pointer;
	border-bottom : 1px solid gray;
}

.js-group-entry:hover{
	background-color: gray;
}


div.js-group-entry:nth-child(2n){
	/* background-color: #CCC; */
	margin : auto 0;
}

div.js-group-entry:last-child{
	border-bottom : 0;
}

.members{
	font-style: italic;
	font-size : 13px;
}
.group-name{
	font-size : 2em;
}

.select-group{
	background : rgb(209, 204, 204);
}