.owes-from-me{
	border-right : 1px dotted;
}
.owes-to-me{
	
} 
.benificiary-name {
	vertical-align: middle;	
}

.dashboard-payment-button{
	float : right;
	display: inline;
	padding-right: 10px;
	padding-top: 5px;
}

.benificiary-amount.credit {
	color: rgb(90, 184, 37);
}

.benificiary-amount.debit {
	color: rgb(255, 0, 0);
}

.dashboard-row{
	cursor: pointer;
	min-height : 60px;
	line-height: 60px;
	margin-bottom: 5px;
}
.dashboard-row:nth-of-type(odd){
	background: whitesmoke;
}
.dashboard-row:nth-of-type(even){
	background: transparent;
}
.dashboard-user-name{
	text-decoration: underline;
	padding-left: 5px;
	color : black;
}
