body {
	height: 100%;
	overflow-x: hidden;
}

.section.top-bar{
	height: 40px;
	cursor: pointer;
	background: rgba(139, 99, 28, 0.6);
}


.section-container section .title a {
	font-size: 14px !important;
	padding-top: 10px;
	padding-bottom: 10px;
	color : white!important;
}

.section-container {
	margin-bottom: 0 !important;
}

.js-right-panel>div>div {
	height: 99%;
}

.js-right-panel{
	background: #F6F2E3;
	opacity: 0.8;
	min-height: 100%;
}

.js-fixed-section {
	padding-left: 10px;
	padding-right: 10px;
}


.js-left-side-menu{
	padding:0!important;
}
.js-show-hide-section{
	cursor : pointer;
	box-shadow: 0 0 1em;
}
.menu-icon{
	background: url("/static-resources/images/icons/icons.jpg") -103px -149px;
	display: inline-block;
	height: 40px;
	width: 58px;
	background-position-x: 183;
	display: inline-block;
	float:right;
}
.js-currently-showing{
	/* display: inline-block;
	padding-top: 8px; */
	cursor: pointer;
	color: white;
	font-size : 21px;
}

.js-menu p{
	background-color: transparent!important;
}
.js-left-side-menu>.section-container{
	border : none;
}
#appcontainer,.bootloader,.js-fem-container,.js-fem-container>.row,.js-fem-container>.row>.columns{
	height : inherit;
}
.app-container{
	/* background : url('images/background.jpg') repeat; */
	/* padding:3px 30px 3px 30px!important; */
}


.header-2{
	background: #3c3c3c;
	color: #F4985A;
	line-height: 34px;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: allerregular;
}

.js-menu{
	border-bottom: 1px solid;
	font-size: 16px!important;
	text-transform: uppercase;
}
.js-menu>span{
	display : inline-block;
	width : 16px;	
	height : 16px;	
	
	
	
	
	
}


.js-menu:last-child{
	border-bottom: none;
}


.js-menu:nth-child(1)>span{
	 background: url("images/dashboard1-24-24-white.png") no-repeat;
	 background-size: 100%;
}
.js-menu:nth-child(2)>span{
	background: url("images/add-24-24-white.png") no-repeat; 
	background-size: 100%;
}
.js-menu:nth-child(3)>span{
	background: url("images/groups01-24-24-white.png") no-repeat; 
	background-size: 100%;
}
.js-menu:nth-child(4)>span{
	background: url("images/List-icon-24-24-white.png") no-repeat; 
	background-size: 100%;
}
.js-menu:nth-child(5)>span{
	background: url("images/edit-24-24-white.png") no-repeat;
	background-size: 100%;
	
}
.js-menu:nth-child(6)>span{
	background: url("images/profile-24-24-white.png") no-repeat;
	background-size: 100%;
}

.js-menu>div{
	margin-top : 13px!important;
	margin-bottom : 13px!important;
	margin-left : 13px;
	display: inline-block;
}

.js-right-panel{
	background: white;
	opacity :1;
}

.button.tiny.radius{
	font-size: 19px;
	padding: 5px 20px 5px 20px;
	background : #F4985A;
	color : white;
}

select, input{
	height: 30px!important;
	font-size: 16px!important;
	padding: 0!important;
	padding-left : 5px!important;
	border-radius : 5px!important;
	min-width: 25px;
}

input{
	background: whitesmoke!important; 
}
.open-menu-icon{
	display : inline-block;
	width : 16px;	
	height : 16px;	
	background: url("images/menu-24-24-white.png") no-repeat;
	background-size: 100%;
	margin-right: 10px;
}

.scrollable-right-section{
	overflow-y: scroll;
	overflow-x: hidden;
	height: 90%;
	width: 100%!important;
	position: absolute;
	padding-bottom: 45px!important;
	
}

.js-menu .title{
	width: 80%;
}

.js-show-menu{
	cursor: pointer;	
}

.scrollable-right-section{
	overflow-y:scroll; 
}
	.js-hide-menu{
		margin-left: 0!important;
		margin-right: 0!important;
	}

@media only screen and (max-width: 40.063em) {
	.scrollable-right-section{
		margin-left:0!important;
		margin-right:0!important;
	}
	
	.js-view-item{
		background: #5E5E5E;
	}
	.js-view-item>div{
		/* height: 100%; */
		margin-top: 4px!important;
		margin-left: -10px!important;
		margin-right: -10px!important;
		background: white;
	}
	
	.js-right-panel{
		padding-right:0!important;
		padding-left:0!important;
	}
	

}