div.carousel>div {
	position: absolute;
	height: 100%;
	float: left;
}

.carousel {
	position: relative;
	overflow: hidden;
}

.item .navigator {
	position: absolute;
	bottom: 0;
}

/* input[type="checkbox"]{
	width:40px;
	height:40px;
}
 */
.js-member-name {
	font-size: 17px;
	height: 17px;
	/* text-overflow: ellipsis; */
	/* overflow: hidden; */
	margin-top: 14px;
	/*TODO :Dont know why but styles from  foundation are not getting overridden with this for some reason*/
	/*padding : 0!important;*/
}

.js-included-members .js-member-name {
	padding-left : 0!important;
}

.js-lock-button{
	cursor : pointer;
}

.js-contribution-input,.js-pay-input{
	/* padding : 0!important; */
}

.item>.row{
	padding-right : 22px;
}

.locked{
	background-color: gray;
}

.item{
	border-right: 1px dotted gray;
}

.carousel input{
	height: 45px;
	font-size: 26px;
	margin-bottom: 10px;
}

.item:last-child{
	border-right:none;
}


.all-container{
	height : 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.js-lock-button{
	float: left;
	background: url("http://cdn3.iconfinder.com/data/icons/pyconic-icons-1-2/512/lock-48.png") no-repeat;
	background-size: 35px;
	background-position-x: 50%;
	background-position-y: -75%;
	height: 39px;
}

.down-icon{
	background: url("images/arrow_sans_down-24-24.png");
	display: inline-block;
	width : 16px;
	height : 16px;
	background-size : 100%;
}

.item{
	position: relative;
}

.button.tiny.radius.navigation{
	height : 20px;
	line-height: 10px;
	font-size: 12px;
	background: gray;
	position: relative;
	bottom: 0; 
}