<div class="row js-selected-friend-item" style="padding:5px;">
	<div class="small-10 columns">
		<span class="js-selected-friend-item-name">{{attributes.fullName}}</span>
	</div>
	<div class="small-2 columns js-selected-friend-remove-container" style="float:right;">
		<img src={{attributes.imgUrl}}  onError="this.onerror=null;this.src='/static-resources/images/icons/no-image.jpg';" ><span class="js-selected-friend-remove-name" hidden="hidden" style="display: none;">{{attributes.fullName}}</span>
		<!-- <span class="js-selected-friend-item-remove" style="cursor: pointer;">X</span> -->
	</div>
</div>