
<div class=row>
	<div class=small-12>
		<form id="login" class="small-12 large-centered large-6 columns">
		    <h1>Log In</h1>
		    <fieldset id="inputs">
		        <input id="username" type="text" placeholder="Username" autofocus required>   
		        <input id="password" type="password" placeholder="Password" required>
		    </fieldset>
		    <fieldset id="actions">
		        <input type="submit" id="submit" value="Log in">
		        <a href="">Forgot your password?</a><a href="">Register</a>
		    </fieldset>
		    
		     <fieldset id="facebookfieldset">
		     	
		     	<a  class="zocial facebook">Sign in with Facebook</a>
		   	 </fieldset>
		    
		     <fieldset id="googlefieldset">
		        <a  class="zocial google">Sign in with Google</a>
		    </fieldset>
		</form>
	</div>
</div>