/* -------------Layout Classes-------------- */
div.searchResultsSorter span.js-theme-sorter {
	display: inline-block;
	width: 50px;
	height: 30px;
	cursor: pointer;
}

/* -------------Theme Classes-------------- */
.js-theme-sorter.js-theme-upward {
	background: url($sorter_up) no-repeat;
}

.js-theme-sorter.js-theme-upward.js-theme-selected {
	background: url($sorter_up_active) no-repeat;
}

.js-theme-sorter.js-theme-downward {
	background: url($sorter_down) no-repeat;
}

.js-theme-sorter.js-theme-downward.js-theme-selected {
	background: url($sorter_down_active) no-repeat;
}