<div class="row ">
	<div class=" small-12 columns header-2"><div class="text-center">Groups</div></div>
</div>
<div class="row groups-container" style="height:100%;">
</div>
<div class="error text-center" style="display:none;margin-top:20px;margin-bottom:20px;line-height: 22px;">
	<div style="margin-top:10px;">Group helps you with adding expense quickly by selecting members for you and some other useful stuff. </div>
	<div style="margin-top:10px;background: rgb(239, 239, 239);">Spent on tickets of friends at picnic or paid the bills for everyone while having dinner with colleagues</div>
	<div style="margin-top:10px;">You don't have any groups yet, you can create groups like picnic, room-mates or colleagues. </div>
	<div style="margin-top:10px;"><a href="#creategroup" style="font-size: 17px; background: rgb(92, 92, 92); padding: 5px; border-radius: 6px; color: white; margin-bottom: 14px;text-transform: uppercase;">Create group</a> </div>
	<div style="margin-top:10px;">and start adding expenses in it.</div>
</div>
