@font-face {
    font-family: 'danielregular';
    src: url('daniel-webfont.eot');
    src: url('daniel-webfont.eot?#iefix') format('embedded-opentype'),
         url('daniel-webfont.woff') format('woff'),
         url('daniel-webfont.ttf') format('truetype'),
         url('daniel-webfont.svg#danielregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

